  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Entries:</h2>
               <div class="card">
<div class="card">
  <img src="../img/ti.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <section id="contact">
    <div class="container">
        <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Earth</h5>
                            <h6 class="card-subtitle mb-2 text-muted">What if:</h6>
                            <p class="card-text">the Earth was actually flat?</p>
                            <a href="https://github.com/Maies2096/Freedom-projecT/blob/master/freedom-project/_posts/2020-06-15-third-entry.markdown" class="card-link">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vegetarianism</h5>
                            <h6 class="card-subtitle mb-2 text-muted">What if:</h6>
                            <p class="card-text">the whole world turned Vegetarian?</p>
                            <a href="https://github.com/Maies2096/Freedom-projecT/blob/master/freedom-project/_posts/2020-06-15-second-entry.markdown" class="card-link">More</a>
                        </div>
                    </div>
                </div>                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ocean</h5>
                            <h6 class="card-subtitle mb-2 text-muted">What if:</h6>
                            <p class="card-text">we drained the oceans?</p>
                            <a href="https://github.com/Maies2096/Freedom-projecT/blob/master/freedom-project/_posts/2020-06-15-first-entry.markdown" class="card-link">More</a>
                        </div>
                    </div>
                </div>

    </div>
</section>


  </div>
</div>
           <a href="#contact" class="btn btn-default btn-xl wow tada">Next! </a>
          </div>
      </div>
  </aside>

