<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Elementals that Make You Question Everything:</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <img src="../img/circle-cropped (1).png" alt="water" style="width:128px;height:128px;"  style="vertical-align:bottom">
                <img src="../img/circle-cropped (2).png" alt="Fire" style="width:128px;height:128px;">
                <img src="../img/circle-cropped (3).png" alt="Air" style="width:128px;height:128px;">
                <img src="../img/circle-cropped (4).png" alt="Earth" style="width:128px;height:128px;">
            </div>
        </div>
                    <h4 style="text-align:center;"> These elementals are responsible for the phrase "nothing is impossible". Their duality makes everything in this world possible. </h4>
<a href="#services" class="btn btn-default btn-xl wow tada">Next!</a>
    </div>
</section>