<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/a.jpg" class="img-responsive" alt="" style="width:420px;height:300px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Georgia Guidestones
                            </div>
                            <div class="project-name">
                                Elbert,Georgia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/b.jpg" class="img-responsive" alt="" style="width:420px;height:300px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Easter Island
                            </div>
                            <div class="project-name">
                                Polynesia,Chile
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/c.jpg" class="img-responsive" alt="" style="width:420px;height:300px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Devil's Bridge
                            </div>
                            <div class="project-name">
                                Kromlau,Germany
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/e.jpg" class="img-responsive" alt="" style="width:420px;height:300px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Blood Falls
                            </div>
                            <div class="project-name">
                                Antartica
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/f.jpg" class="img-responsive" alt="" style="width:420px;height:300px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machu Piccu
                            </div>
                            <div class="project-name">
                                 Eastern Cordillera of Southern Peru
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/g.jpg" class="img-responsive" alt="" style="width:420px;height:300px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              The Bermuda Triangle
                            </div>
                            <div class="project-name">
                                North Atlantic Ocean
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>


