<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="border:2px solid Tomato;">Know Your Elementals</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  wow bounceIn text-primary"></i>
                    <h3 style="border:2px solid Tomato;">Water</h3>
                    <p class="text-muted" style="border:2px solid Tomato;">When balanced, water can be sensible and lucid. When in excess, water can become demanding and covetous. When deficient, water can completely withdraw from the world. This element is responsible for nurturing life, but when aggrivated it is responsible for taking it away.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 style="border:2px solid Tomato;">Fire</h3>
                    <p class="text-muted" style="border:2px solid Tomato;">The balanced fire element excels at communication and is lively, creative, and sanguine. It brings passion and flair to whatever it touches. In excess, fire can become erratic and overly excitable. When deficient, it can become highly dangerous. This element is responsible for explosions, and death when aggrivated.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 style="border:2px solid Tomato;">Air</h3>
                    <p class="text-muted" style="border:2px solid Tomato;">Air exchanges electrons, and causes energy to flow. Air is a primary nutrient. Survival without it is measured in minutes. It is so important that you do it without thinking. It’s depth, smoothness, sound, and rate can be so unpredictable sometimes, that it comes off as dangerous.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 style="border:2px solid Tomato;">Earth</h3>
                    <p class="text-muted" style="border:2px solid Tomato;">Earth is grounded and practical. When balanced, Earth is the glue that binds all elements together. It is nurturing, supportive, relaxed, oriented, and attentive. Unbalanced "Excess" Earth, however, frets and meddles and can be quite overbearing as that wonderful groundedness transforms into unmovable and impractical stubbornness. When "Deficient", Earth can become vacillating.</p>
                </div>
            </div>
<a href="#portfolio" class="btn btn-primary btn-xl wow tada">Next! </a>
        </div>
    </div>
</section>
